$primary-white-color: #ffffff;
$non-active-white-color: rgba(255, 255, 255, 0.4);

$primary-site-color: #009EFF;
$primary-site-color-hover: linear-gradient(180deg, #009EFF 0%, #007BCD 100%);

$primary-bg-color: #323941;
$secondary-bg-color: #999999;

$green-check-color: #AFB1B8;